#chartContainer{
    padding-left: 20px;
    margin-top: 50px;
}

.superAdminEditContainer{
    height: 100vh;
    width: 100%;
    background-color: lightgray;
}

.superAdminUserContainer{

    background-color: lightgrey;
    width: 100%;
    height: 100vh;
}
