.providerPanelContainer{
    display: flex;
     height: 100vh;
    width: 100%;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*background-color: lightgray;*/
}

#chartContainer{
    width: 100%;
}

#search{
    width: 40ch;
}

#title{
    text-align: left;
}

#gridContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background-color: black;*/
}

#cardContainer{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    /*align-items: center;*/
    /*width: 100%;*/
    /*height: 100vh;*/
    /*background-color: black;*/

}

#cardContent{
    /*background-color: black;*/
    display: grid;
    justify-content: space-evenly;
    /*justify-items: center;*/
    /*align-items: center;*/
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 186px);
}


h2{
    text-align: left;
    padding-left: 30px;
    color: black;
}

#actionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8px;
    width: 100%;
}

#actionContainer > Link{
    color: white;
}
#actionContainer > Button{
    margin-right: 2px;
    color:white;
}

#noneElement{
    display: none;
}

#providerButton{
    margin-top: -90px;
    margin-left: 700px;
    background-color: #132C3C;
    color: white;
}

@media only screen and (max-width: 600px) {
    #actionContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;
        width: 100%;
    }

    #actionContainer > Button{
        margin-bottom: 8px;
        color:white;
    }
}