.providerPanelContainer{
    width: 100%;
    background-color: lightgrey;
}

#chartContainer{
    width: 100%;
}

#search{
    width: 40ch;
}

#title{
    text-align: left;
}

#gridContainer{
    width: 100%;
}


#cardContent{
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap:20px;
}


h2{
    text-align: left;
    padding-left: 30px;
    color: black;
}

#actionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8px;
    width: 100%;
}

#actionContainer > Link{
    color: white;
}
#actionContainer > Button{
    margin-right: 2px;
    color:white;
}

#noneElement{
    display: none;
}

#providerButton{
    margin-top: -90px;
    margin-left: 700px;
    background-color: #132C3C;
    color: white;
}

@media only screen and (max-width: 600px) {
    #actionContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;
        width: 100%;
    }

    #actionContainer > Button{
        margin-bottom: 8px;
        color:white;
    }
}